h1, h4, .content {
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
  white-space: pre;
}

h1 {
  color: rgba(41, 171, 226, 1);
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

h4 {
  text-align: center;
  font-style: italic;
  padding: 22px 0;
  font-size: 16px;
}

.content {
  margin: 0 auto;
  font-size: 13px;
  width: 70%;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 28px;
  }

  .meta {
    font-size: 14px;
  }

  .content {
    width: 90%;
  }
}
